.game-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}


.game-board{
	display: grid;
    row-gap: 0;
}

.game-square{
    border: 1px dashed white;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.game-square.clicked{
    cursor: unset;
}

.score-board{
    background-color: #ffeb3b;
    text-align: center;
    width: 70%;
    box-shadow: 0 4px 5px #00000024, 0 1px 10px #0000001f, 0 2px 4px -1px #0000004d;
    margin: 0 auto;
    color: #0006;
    font-size: 35px;
    padding: 5px;
}

.timer-container{
    background-color: #e91e63;
    box-shadow: 0 4px 5px #00000024, 0 1px 10px #0000001f, 0 2px 4px -1px #0000004d;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    color: #0006;
    margin: 20px 0;
    width: 500px
}

.score{
    text-align: center;
}



@media(max-width: 800px){
    .game-container{
        display: flex;
        flex-direction: column;
        height: unset;
    }

    .game-square{
        height: 45px;
        width: 45px;
    }

    .timer-container{
        font-size: 20px;
        margin: 20px auto 0 auto;
        width: 350px
    }

    .game-board{
        margin: 30px 0;
    }
}