.game-over-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.results-container .square{
	width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

.results-container button{
    font-size: 25px;
}

.results-container .versus-container{
    width: 600px;
}

@media (max-width: 1000px){
    .game-over-container{
        display: flex;
        flex-direction: column;
        height: unset;
        justify-content: space-evenly;
    }
}

@media(max-width:700px){
    
    .results-container .versus-container{
        width: 400px;
    }

    .results-container button{
        font-size: 20px;
        width: 200;
    }
}